body {background:#F0ECE3; background-attachment:fixed; font-family:trebuchet ms; font-size: 15px; color: #888; background-image: url('');}
.header {background:#E4D8DC;width:101%;height:200px;margin-top:-5px;margin-left:0px;
    position:fixed;border-top:150px solid #C9CCD5;border-bottom:20px solid #e4dbde;
letter-spacing:0.1em;}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
h1 {font-family: 'Poppins', sans-serif;font-size:25px;color:rgb(70, 68, 68);text-transform:uppercase;position:fixed;width:100%;height:auto;margin-top:300px;margin-left:0px;text-align:center;}
.headerimage {margin-left:565px;margin-top:90px;position:fixed}
.headerimage img {width:180px;height:auto;border-radius: 100px;border:5px solid #E4D8DC;}
.about {font-family: 'Roboto Slab', serif;font-size:13px;color:rgb(70, 68, 68);position:fixed;width:600px;height:auto;margin-top:360px;margin-left:0px;text-align:justify;background:#e4dbde;padding:10px}
.redessociais {position:fixed;height:auto;margin-top:360px;right:100px;text-align:center;padding:10px}
.skills{position:fixed;width:auto;height:auto;margin-top:365px;right:434px;text-align:justify;
    padding:10px;font-family: 'Roboto Slab', serif;font-size:13px;color:rgb(70, 68, 68);
    background:#eee5e8;padding:15px;border-right:6px solid #e4dbde;}
.redessociais img {width:auto;height:auto;margin:5px;}
ul,li {text-align:left;}
.redessociais h2 {width:auto;font-family: 'Poppins', sans-serif;font-size:20px;font-weight:bold;text-transform:uppercase;color:#5E454B;}
.skills h2 {width:auto;font-family: 'Poppins', sans-serif;font-size:20px;font-weight:bold;text-transform:uppercase;color:#5E454B;text-align:center;}

a:visited, a:link, a:active {text-decoration: none; color:#85586F;}
html {cursor:url('https://img69.imageshack.us/img69/7673/cursorw.png'), auto;}
a, a:hover {cursor: url("https://31.media.tumblr.com/6fb38fc5e97353c67e3fc3a2e2b29bf9/tumblr_inline_n6zhnrva5p1r1shc4.png"), auto}
